body {
  max-width: 800px;
  margin: 0 auto;
}
.picture-box {
  border: 3px solid black;
  border-radius: 10px;
  position: relative;
  width: 97%;
  height: auto;
  margin: 1% auto;
  overflow: hidden;
}
.picture-box:before {
  content: '';
  display: block;
  padding-top: 150%;
}
img {
  position: absolute;
  top: 0%;
  width: 100%;
  height: auto;
}
