// Git BASH: $ less-watch-compiler less css <name of main LESS file>

// Utility variables
@rtb: 2px dashed red;

body {
  max-width: 800px;
  margin: 0 auto;
}

.picture-box {
  border: 3px solid black;
  border-radius: 10px;
  position: relative;
  // Desired width of picture box:
  width: 98%;
  margin: 1% auto;
  // Hides the parts of the slides that have slid out of frame or are not yet in frame:
  overflow: hidden;
}

// I'm not sure what exactly the ":before" pseudoclass is doing:
.picture-box:before {
  // Nor do I understand what "content: "";" is doing:
  content: "";
  display: block;
  // Aspect ratio 2:3. For best results, the picture box and all images should share the same aspect ratio.
  padding-top: 150%;
  // Other aspect ratios:
  // 1:1 (square): padding-top: 100%;
  // 16:9: padding-top: 56.25%;
  // a/b: padding-top: ((100 * b) / a)%;
}

// For the "slide into frame" effect, the images must be styled like this:
img {
  // Allows images to be "stacked" and to be slid into frame using animation:
  position: absolute;
  // The images will not appear properly without either "top: 0%" or "bottom: 0%". I suspect the fact that it's top and bottom is related to paddinng-top being used above.
  top: 0%;
  // The following tells the images to fill the picture box. Setting this to 50% is a good way to see how the slideshow animation works.
  width: 100%;
  height: auto;
}
